// @mixin sections-display-onscroll {
//   opacity: 0;
//   transition: 0.5s all ease;
//   transform: translateY(250px);

//   @media screen and (max-width: 1024px) {
//     & {
//       opacity: 1;
//       transition: none;
//       transform: none;
//     }
//   }

//   &--active {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

@mixin font(
  $family: sans-serif,
  $weight: 400,
  $size: 1rem,
  $color: initial
) {
  font: {
    family: $family;
    weight: $weight;
    size: $size;
  }

  color: $color;
}
