$accent-color: #fc6da9;
$dark-color: #242424;
$light-color: #fff;


// $dark-font-color: #000;
// $light-font-color: #fff;


$primary-font: Gilroy;
$secondary-font: 'DIN Pro';

%centering-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
