.btn {
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 230px; // 290
  min-height: 80px;
  padding-right: 35px;
  padding-left: 20px;
  background-color: $accent-color;
  border: none;
  border-radius: 80px;
}

.btn__circle-wrapper {
  @extend %centering-flex-container;

  width: 56px;
  height: 56px;
  background: linear-gradient(135deg, rgba(0, 0, 0, .4), rgba(255, 255, 255, .4));
  border-radius: 50%;
}

.btn__circle {
  @extend %centering-flex-container;

  width: 50px;
  height: 50px;
  background-color: $dark-color;
  border-radius: 50%;
  // box-shadow: 0 0 5px -2px #ff6a9f;
  box-shadow: 0 0 5px -2px $accent-color;
}

.btn__arrow {
  width: 20px;
  height: 15px;
}

.btn__text {
  @include font($secondary-font, 400, 1.75rem, $dark-color);

  letter-spacing: 0.32px;
}
